.row + .row {
    border: 1px solid;
    text-align: center;
}

.mainRow {
    border: 3px solid;
}

.no-padding {
    padding: 0;
}
.no-width {
    width: auto;
}

.sectionDropdown{
    padding-left: 15px;
}