.row + .row {
    border: 1px solid;
    text-align: center;
}

.mainRow {
    border: 3px solid;
}

.no-padding {
    padding: 0;
}
.no-width {
    width: auto;
}

.sectionDropdown{
    padding-left: 15px;
}

.error {
    color: red; font-weight: bold;
}

/* Used to keep the text white while hovering over the buttons */
a:hover {
    color: #ffffff;
}

.dropped {
    text-decoration: line-through;
}

/* Used to prevent link hrefs from showing when printing */
@media print {
    a:link:after, a:visited:after {
        display: none;
        content: "";
    }
}

.navbar-option {
    box-shadow: 0 0 1px 0 #33332a;
}